#header { 
     background: #FFFFFF url(Pildid/Taust/m2rk.jpg) left center no-repeat; 
     opacity:0.8; /*tausta l2bipaistvus*/
     height:100px; 
     width:1000px; 
}
body{
    background-image: url("Pildid/Taust/Taust.jpg");
    background-size: 100%;
    font-family: Old Standard TT, serif;
    
}
#Kogusisu{
    max-width: 1000px; /* sisu laius*/
    min-width:600px;
    margin: 0 auto; /* asetab sisu keskele */ 
}
#sisu {
    background-color: rgba(32,32,32,0.7)  ;/*teksti osa paigutus*/
    min-height:600px;
    padding-left:50px;
    padding-top:40px;
    padding-bottom:10px;
    padding-right:50px;
    color:#D8D8D8;
}
#jalus{
    width: 970px;
    background-color:rgba(0,0,0,0.8);
    padding:15px;
    color:#D8D8D8;
    bottom:0;
    height:170px;
    margin:0 auto;
}
#kontakt {
   float:left;/*koos login teevad jaluse kaheks registreerimine ja pealeht */
   width:485px;
}
#login {
   float:right;
   width:485px;
   text-align: right;
}

