.thumbs ul{/*liikuv pildrida*/
  padding:0;
  margin:0;
  list-style-type:none;
  width: 20000px;/*pikk pildirida*/
}
.thumbs li{/*paneb pildid ritta*/
  float:left;
  padding:0;
  margin:5px 5px 0 0;
  display: inline;
}
.thumbs li a:hover, .thumbs li.active{ /*n2itab milline pilt on hetkel aktiivne*/
  background-color:#3399FF;
}
.viewer{ /*asetab suure pildi 6igesse kohta*/
  clear: both;
  margin:10px auto;
  background-color:#3399FF;
  overflow:hidden;
  height:431px;
  width:650px;
  color: #3399FF;
  font-size: .9em;
}
